body{
	margin: 0;
	padding: 0;
	font-family: inherit;
}

.container{
	margin: auto;
}

.content{
	margin:0 5% 0 5% ;
}

table{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
nav ul{
	list-style: none;
	background: #abc;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 20px;

}
nav ul li a{
		display: block;
		padding: 20px;
		text-decoration: none;

}
button{
	cursor: pointer;
	padding: 1px;
}
form div{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.student_room{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-gap: 20px;
	background-color: antiquewhite;
}

.item_eleve{
	margin-top: 5px;
	border-left: 2px solid green;
	padding-left: 5px;
}
.btn_presence{
	display: flex;
	justify-content: space-between;
}

/*LOGIN FORM */

.login_form{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vh;
	background: #1bc;
}

.login_form form{
	width: 100vh;
}
.login_form form div{
	margin: 10px;
}

input[type="submit"]{
	cursor: pointer;
}
.login_form form label{
	width: 200px;
}

/*@media screen and(max-width: 1250px){
	.login_form form label{
			width: 100%;
			display: block;
	}
}*/

@media  screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .login_form form label, .login_form form input{
		display: block;
		width: 200px;
	}
	form div{
		display: block;
	}
}

.present{
	background-color: green;
	text-align: center;
	color: white;
}

.abscent{
	background-color: red;
	text-align: center;
	color: white;
}

@media print{
	.no_printable{
		display: none;
	}
}

.connected{
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 5px;
	background-color: #19b;

}

.table{
	border-collapse: collapse;
}
th, td, tr, th{
	border: 1px solid black;
}