body{
	margin: 0;
}

table{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
nav ul{
	list-style: none;
	background: #abc;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 50px;
}
button{
	cursor: pointer;
	padding: 1px;
}
form div{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}